# To collect build duration & memory usage, we trigger two builds
# So we get cold and warm build timings. This is for the cold build.
name: First Build
on:
  schedule:
    - cron: '0 12 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -H "x-gatsby-cache: false" -X POST -d {} https://webhook.gatsbyjs.com/hooks/builds/trigger/e59971ce-b059-4218-93c8-b0752b2b4ffb
